Repository Ruffpuff1/foxxie, pull requests merged in 2022-03, with the labels that each got.

#19 ci: add Raindrop-Droptop to CODEOWNERS
  .github/CODEOWNERS
Labels: good first issue

#21 fix: update name in repo url
  README.md
  apps/kettu/CHANGELOG.md
  apps/kettu/Dockerfile
  apps/kettu/cliff.toml
  apps/kettu/package.json
  apps/kettu/tsconfig.base.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/cliff.toml
  packages/eslint-config/package.json
  packages/fetch/CHANGELOG.md
  packages/fetch/cliff.toml
  packages/fetch/package.json
  packages/lock-queue/CHANGELOG.md
  packages/lock-queue/cliff.toml
  packages/lock-queue/package.json
  packages/types/CHANGELOG.md
  packages/types/cliff.toml
  packages/types/package.json
Labels: packages:fetch, packages:lock-queue, packages:eslint-config, bot:kettu, packages:types

#22 fix(kettu): update base ts-config
  apps/kettu/tsconfig.base.json
Labels: bot:kettu

#23 feat(kettu): add celestia support
  apps/kettu/.env
  apps/kettu/.env.example
  apps/kettu/.eslintrc.js
  apps/kettu/.eslintrc.json
  apps/kettu/crowdin.yml
  apps/kettu/package.json
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/interaction-handlers/SelectMenu/AnimalcrossingSelectMenu.ts
  apps/kettu/src/languages/en-US/commands/websearch.json
  apps/kettu/src/lib/env/types.ts
  apps/kettu/src/lib/i18n/Keys/Commands/Websearch.ts
  apps/kettu/src/lib/types/Interactions.ts
  apps/kettu/src/lib/util/APIs/celestia.ts
  apps/kettu/src/lib/util/APIs/index.ts
  apps/kettu/tsconfig.base.json
  packages/eslint-config/index.ts
  yarn.lock
Labels: packages:eslint-config, bot:kettu

#24 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: bot:kettu

#25 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: bot:kettu, i18n:es-MX

#26 feat(crowdin): update localization files
  apps/kettu/src/languages/en-GB/commands/general.json
  apps/kettu/src/languages/en-GB/commands/websearch.json
  apps/kettu/src/languages/en-GB/globals.json
  apps/kettu/src/languages/en-GB/system.json
Labels: bot:kettu, i18n:en-GB

#27 chore: add color language keys
  apps/kettu/src/commands/Tools/color.ts
  apps/kettu/src/languages/en-US/commands/tools.json
  apps/kettu/src/lib/i18n/Keys/Commands/Tools.ts
  apps/kettu/src/lib/i18n/Keys/Commands/index.ts
  apps/kettu/src/lib/util/decorators.ts
  apps/kettu/src/lib/util/util.ts
Labels: bot:kettu, i18n:en-US

#28 feat(crowdin): update localization files
  apps/kettu/src/languages/en-GB/commands/tools.json
  apps/kettu/src/languages/es-MX/commands/tools.json
Labels: bot:kettu, i18n:es-MX, i18n:en-GB

#29 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: bot:kettu, i18n:es-MX

#43 fix(types): export all interfaces
  apps/foxxie/CHANGELOG.md
  packages/types/package.json
  packages/types/src/APIs.ts
  packages/types/src/Utils.ts
Labels: packages:types, bot:foxxie

#44 fix(lock-queue): internally export RWLock type
  packages/lock-queue/package.json
  packages/lock-queue/src/index.ts
Labels: packages:lock-queue

#45 chore: update changelogs
  apps/foxxie/CHANGELOG.md
  apps/kettu/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/fetch/CHANGELOG.md
  packages/lock-queue/CHANGELOG.md
  packages/types/CHANGELOG.md
Labels: packages:fetch, packages:lock-queue, packages:eslint-config, bot:kettu, packages:types, bot:foxxie

#46 fix(fetch): include user agent by default
  packages/fetch/package.json
  packages/fetch/src/Request.ts
Labels: packages:fetch

#62 feat(kettu): add PR and issue searching
  apps/kettu/package.json
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/commands/Tools/Websearch/github.ts
  apps/kettu/src/interaction-handlers/AutoComplete/GithubAutoComplete.ts
  apps/kettu/src/interaction-handlers/SelectMenu/GithubSelectMenu.ts
  apps/kettu/src/languages/en-US/commands/websearch.json
  apps/kettu/src/languages/en-US/globals.json
  apps/kettu/src/lib/i18n/Keys/Commands/Websearch.ts
  apps/kettu/src/lib/i18n/Keys/Globals.ts
  apps/kettu/src/lib/types/Interactions.ts
  apps/kettu/src/lib/util/APIs/github.ts
  apps/kettu/src/lib/util/constants.ts
Labels: Bot: Kettu, I18n: en-US

#63 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/globals.json
  apps/kettu/src/languages/en-GB/commands/websearch.json
  apps/kettu/src/languages/en-GB/globals.json
  apps/kettu/src/languages/es-MX/commands/tools.json
  apps/kettu/src/languages/es-MX/commands/websearch.json
  apps/kettu/src/languages/es-MX/globals.json
Labels: Bot: Kettu, I18n: es-MX, I18n: en-GB, Bot: Foxxie

#66 docs(readme): update twitter url
  README.md
Labels: Meta: Documentation

#67 feat(kettu): add pride commands
  .DS_Store
  apps/.DS_Store
  apps/foxxie/.DS_Store
  apps/kettu/docker-compose.yml
  apps/kettu/src/commands/Tools/pride.ts
  apps/kettu/src/config.ts
  apps/kettu/src/languages/en-US/commands/tools.json
  apps/kettu/src/lib/i18n/Keys/Commands/Tools.ts
  apps/kettu/src/lib/types/Interactions.ts
  docker-compose.yml
  docker/ravy.lgbt/Dockerfile
  docker/ravy.lgbt/THIRD_PARTY_LICENSE
  docker/ravy.lgbt/build.sh
  docker/ravy.lgbt/go.mod
  docker/ravy.lgbt/go.sum
  docker/ravy.lgbt/images/circle.png
  docker/ravy.lgbt/images/circleAgender.png
  docker/ravy.lgbt/images/circleAsexual.png
  docker/ravy.lgbt/images/circleBisexual.png
  docker/ravy.lgbt/images/circleGenderfluid.png
  docker/ravy.lgbt/images/circleLesbian.png
  docker/ravy.lgbt/images/circleNonbinary.png
  docker/ravy.lgbt/images/circlePansexual.png
  docker/ravy.lgbt/images/circlePride.png
  docker/ravy.lgbt/images/overlay.png
  docker/ravy.lgbt/images/overlayAgender.png
  docker/ravy.lgbt/images/overlayAsexual.png
  docker/ravy.lgbt/images/overlayBisexual.png
  docker/ravy.lgbt/images/overlayGenderfluid.png
  docker/ravy.lgbt/images/overlayLesbian.png
  docker/ravy.lgbt/images/overlayNonbinary.png
  docker/ravy.lgbt/images/overlayPansexual.png
  docker/ravy.lgbt/images/overlayPride.png
  docker/ravy.lgbt/lgbt.go
  docker/ravy.lgbt/server/main.go
  docker/ravy.lgbt/start.sh
Labels: Bot: Kettu, I18n: en-US, Docker Images: ravy.lgbt

#71 feat(crowdin): update localization files
  apps/kettu/src/languages/en-GB/commands/tools.json
  apps/kettu/src/languages/es-MX/commands/tools.json
Labels: Bot: Kettu, I18n: es-MX, I18n: en-GB

#72 docs(readme): add new docker badge
  README.md
Labels: Meta: Documentation

#73 docs(docker): add readme
  docker/README.md
Labels: Meta: Documentation

#76 docs(readme): add lgtm badge
  README.md
Labels: Meta: Documentation

#78 feat(crowdin): update localization files
  apps/kettu/src/languages/en-GB/preconditions.json
  apps/kettu/src/languages/es-MX/preconditions.json
Labels: Bot: Kettu, I18n: es-MX, I18n: en-GB

#90 feat(kettu): add stats command
  apps/kettu/src/commands/General/stats.ts
  apps/kettu/src/languages/en-US/commands/general.json
  apps/kettu/src/lib/i18n/Keys/Commands/General.ts
  apps/kettu/src/lib/types/Interactions.ts
  apps/kettu/src/lib/util/decorators.ts
Labels: Bot: Kettu, I18n: en-US

#93 fix(foxxie): update how disboard messages are parsed
  apps/foxxie/src/listeners/Message/messageCreate.ts
  apps/kettu/src/commands/General/stats.ts
Labels: Bot: Kettu, Bot: Foxxie

#99 feat(packages): add fuzzysearch package
  README.md
  packages/fuzzysearch/.eslintignore
  packages/fuzzysearch/.eslintrc.json
  packages/fuzzysearch/.prettierignore
  packages/fuzzysearch/CHANGELOG.md
  packages/fuzzysearch/cliff.toml
  packages/fuzzysearch/package.json
  packages/fuzzysearch/src/index.ts
  packages/fuzzysearch/tsconfig.json
  packages/fuzzysearch/tsup.config.ts
  yarn.lock
Labels: Meta: Documentation, Packages: fuzzysearch

#94 feat(stardrop): add Stardew Valley GraphQL API
  .github/workflows/stardrop-deployment.yml
  .vscode/Stardrop.code-snippets
  README.md
  apps/foxxie/package.json
  docker-compose.yml
  graphql/README.md
  graphql/stardrop/.eslintignore
  graphql/stardrop/.eslintrc.json
  graphql/stardrop/.gitignore
  graphql/stardrop/.prettierignore
  graphql/stardrop/Dockerfile
  graphql/stardrop/codegen.yml
  graphql/stardrop/package.json
  graphql/stardrop/src/arguments/VillagerArgs.ts
  graphql/stardrop/src/data/index.ts
  graphql/stardrop/src/data/villagers.ts
  graphql/stardrop/src/index.ts
  graphql/stardrop/src/resolvers/VillagerResolver.ts
  graphql/stardrop/src/resolvers/index.ts
  graphql/stardrop/src/server.ts
  graphql/stardrop/src/services/VillagerService.ts
  graphql/stardrop/src/structures/FamilyRelation.ts
  graphql/stardrop/src/structures/Villager.ts
  graphql/stardrop/src/utils/EnumCollection.ts
  graphql/stardrop/src/utils/StardewValley.ts
  graphql/stardrop/src/utils/enums.ts
  graphql/stardrop/src/utils/external.ts
  graphql/stardrop/src/utils/index.ts
  graphql/stardrop/tsconfig.json
  graphql/stardrop/tsup.config.ts
  graphql/stardrop/yarn.lock
  packages/stardrop/.gitignore
  packages/stardrop/package.json
  packages/stardrop/scripts/rollup.config.mjs
  packages/stardrop/tsconfig.json
  yarn.lock
Labels: Bot: Foxxie, Meta: Documentation, Meta: Github, GraphQL: stardrop, Packages: stardrop

#102 fix: replace rufpuff-eslint-config with foxxie
  apps/foxxie/package.json
  packages/fetch/.eslintrc.json
  packages/fetch/package.json
  packages/lock-queue/.eslintrc.json
  packages/lock-queue/package.json
  yarn.lock
Labels: Packages: fetch, Packages: lock-queue, Bot: Foxxie

#118 fix(fuzzysearch): replace djs
  packages/fuzzysearch/package.json
  packages/fuzzysearch/src/index.ts
Labels: Packages: fuzzysearch

#128 New Crowdin updates
  apps/foxxie/src/languages/en-GB/globals.json
Labels: I18n: en-GB, Bot: Foxxie

#131 chore: delete auto rename crowdin prs workflow
  .github/workflows/auto-rename-crowdin-prs.yml
Labels: Meta: Github

#132 feat(crowdin): update localization files
  apps/foxxie/src/languages/en-GB/globals.json
  apps/foxxie/src/languages/es-MX/commands/info.json
Labels: I18n: es-MX, I18n: en-GB, Bot: Foxxie

#136 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/arguments.json
  apps/foxxie/src/languages/es-MX/commands/moderation.json
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: Bot: Kettu, I18n: es-MX, Bot: Foxxie

#149 feat(lock-queue): update methods
  packages/lock-queue/package.json
  packages/lock-queue/src/index.ts
Labels: Packages: lock-queue

#152 fix(foxxie): update lock queue
  apps/foxxie/package.json
  apps/foxxie/src/lib/database/structures/GuildSettingsManager.ts
  apps/foxxie/src/lib/structures/moderation/ModerationTask.ts
  yarn.lock
Labels: Bot: Foxxie

#155 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: Bot: Kettu, I18n: es-MX

#161 feat(crowdin): update localization files
  apps/foxxie/src/languages/fr-FR/arguments.json
  apps/foxxie/src/languages/fr-FR/automod.json
  apps/foxxie/src/languages/fr-FR/commands/admin.json
  apps/foxxie/src/languages/fr-FR/commands/audio.json
  apps/foxxie/src/languages/fr-FR/commands/general.json
  apps/foxxie/src/languages/fr-FR/commands/info.json
  apps/foxxie/src/languages/fr-FR/commands/misc.json
  apps/foxxie/src/languages/fr-FR/commands/moderation.json
  apps/foxxie/src/languages/fr-FR/commands/social.json
  apps/foxxie/src/languages/fr-FR/globals.json
  apps/foxxie/src/languages/fr-FR/guilds/channels.json
  apps/foxxie/src/languages/fr-FR/guilds/contentFilters.json
  apps/foxxie/src/languages/fr-FR/guilds/logs.json
  apps/foxxie/src/languages/fr-FR/guilds/permissions.json
  apps/foxxie/src/languages/fr-FR/guilds/verificationLevels.json
  apps/foxxie/src/languages/fr-FR/listeners/errors.json
  apps/foxxie/src/languages/fr-FR/listeners/events.json
  apps/foxxie/src/languages/fr-FR/listeners/music.json
  apps/foxxie/src/languages/fr-FR/moderation.json
  apps/foxxie/src/languages/fr-FR/preconditions.json
  apps/foxxie/src/languages/fr-FR/serializers.json
  apps/foxxie/src/languages/fr-FR/settings.json
  apps/foxxie/src/languages/fr-FR/system.json
  apps/foxxie/src/languages/fr-FR/tasks.json
  apps/kettu/src/languages/fr-FR/commands/general.json
  apps/kettu/src/languages/fr-FR/commands/tools.json
  apps/kettu/src/languages/fr-FR/commands/websearch.json
  apps/kettu/src/languages/fr-FR/globals.json
  apps/kettu/src/languages/fr-FR/preconditions.json
  apps/kettu/src/languages/fr-FR/system.json
Labels: Bot: Kettu, Bot: Foxxie, I18n: fr-FR

#162 feat(crowdin): update localization files
  apps/kettu/src/languages/ja-JP/commands/websearch.json
Labels: Bot: Kettu, I18n: ja-JP

#164 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/listeners/events.json
Labels: I18n: es-MX, Bot: Foxxie

#165 feat(crowdin): update localization files
  .github/labeler.yml
  .github/labels.yml
  apps/kettu/src/languages/es-MX/commands/websearch.json
  apps/kettu/src/languages/es-MX/permissions.json
Labels: Bot: Kettu, I18n: es-MX, Meta: Github

#166 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/globals.json
  apps/kettu/src/languages/es-MX/commands/general.json
  apps/kettu/src/languages/es-MX/commands/tools.json
  apps/kettu/src/languages/es-MX/commands/websearch.json
  apps/kettu/src/languages/es-MX/globals.json
  apps/kettu/src/languages/es-MX/preconditions.json
  apps/kettu/src/languages/es-MX/system.json
Labels: Bot: Kettu, I18n: es-MX, Bot: Foxxie

#168 feat(kettu): add owoify command
  apps/kettu/package.json
  apps/kettu/src/commands/Tools/owoify.ts
  apps/kettu/src/languages/en-US/commands/tools.json
  apps/kettu/src/lib/i18n/Keys/Commands/Tools.ts
  apps/kettu/src/lib/types/Interactions.ts
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/fetch/CHANGELOG.md
  packages/fuzzysearch/CHANGELOG.md
  packages/lock-queue/CHANGELOG.md
  packages/stardrop/CHANGELOG.md
  packages/types/CHANGELOG.md
  yarn.lock
Labels: Packages: fetch, Packages: lock-queue, Packages: eslint-config, Bot: Kettu, Packages: types, I18n: en-US, Meta: Documentation, Packages: fuzzysearch, Packages: stardrop

#169 feat(kettu): add npm command
  apps/kettu/src/commands/Tools/Websearch/github.ts
  apps/kettu/src/commands/Tools/Websearch/npm.ts
  apps/kettu/src/languages/en-US/commands/websearch.json
  apps/kettu/src/languages/en-US/system.json
  apps/kettu/src/lib/i18n/Keys/Commands/Websearch.ts
  apps/kettu/src/lib/i18n/Keys/System.ts
  apps/kettu/src/lib/types/Interactions.ts
Labels: Bot: Kettu, I18n: en-US

#170 fix(types): export npm interfaces
  packages/types/package.json
  packages/types/src/APIs.ts
  packages/types/tsconfig.json
Labels: Packages: types

#167 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/websearch.json
  apps/kettu/src/languages/es-MX/system.json
Labels: Bot: Kettu, I18n: es-MX

#186 feat(types): export all types to other files
  packages/types/src/APIs.ts
  packages/types/src/APIs/Github.ts
  packages/types/src/APIs/Kitsu.ts
  packages/types/src/APIs/Npm.ts
  packages/types/src/APIs/StatusPage.ts
  packages/types/src/APIs/WttrIn.ts
  packages/types/src/APIs/index.ts
Labels: Packages: types

#188 ci: update renovate config
  .github/renovate.json
Labels: Meta: Github

#189 chore: update foxxie packages
  apps/foxxie/package.json
  apps/kettu/package.json
  apps/kettu/src/commands/Tools/Websearch/npm.ts
  graphql/stardrop/package.json
  yarn.lock
Labels: Bot: Kettu, Bot: Foxxie, GraphQL: stardrop

#190 feat(foxxie): add chat input framework
  apps/foxxie/docker-compose.yml
  apps/foxxie/package.json
  apps/foxxie/src/commands/Moderation/Utilities/case.ts
  apps/foxxie/src/lib/structures/commands/FoxxieCommand.ts
  apps/foxxie/src/lib/types/Events.ts
  apps/foxxie/src/lib/types/index.ts
  apps/foxxie/src/lib/types/interactions.ts
  apps/foxxie/src/lib/util/decorators.ts
  apps/foxxie/src/lib/util/util.ts
  apps/foxxie/src/listeners/Commands/ChatInput/ChatInputCommandDenied.ts
  apps/foxxie/src/listeners/Commands/ChatInput/coreChatInputCommandAccepted.ts.ts
  apps/foxxie/src/preconditions/Moderator.ts
Labels: Bot: Foxxie

#192 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/commands/moderation.json
  apps/foxxie/src/languages/es-MX/system.json
Labels: I18n: es-MX, Bot: Foxxie

#193 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/arguments.json
  apps/foxxie/src/languages/es-MX/system.json
Labels: I18n: es-MX, Bot: Foxxie

#195 feat(foxxie): add ban command
  apps/foxxie/src/commands/Moderation/ban.ts
  apps/foxxie/src/languages/en-US/commands/moderation.json
  apps/foxxie/src/languages/en-US/listeners/errors.json
  apps/foxxie/src/lib/database/config.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/Moderation.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Listeners/Errors.ts
  apps/foxxie/src/lib/structures/commands/FoxxieCommand.ts
  apps/foxxie/src/lib/structures/commands/parsers/FoxxieChatInputArgs.ts
  apps/foxxie/src/lib/structures/commands/parsers/index.ts
  apps/foxxie/src/lib/structures/moderation/ModerationCommand.ts
  apps/foxxie/src/lib/structures/moderation/index.ts
  apps/foxxie/src/lib/types/Discord.ts
  apps/foxxie/src/lib/types/interactions.ts
  apps/foxxie/src/lib/util/transformers.ts
  apps/foxxie/src/listeners/Commands/ChatInput/ChatInputCommandDenied.ts
  apps/foxxie/src/listeners/Errors/Commands/chatInputCommandError.ts
Labels: I18n: en-US, Bot: Foxxie

#196 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/commands/moderation.json
  apps/foxxie/src/languages/es-MX/listeners/errors.json
Labels: I18n: es-MX, Bot: Foxxie

#197 fix: comment out alerts
  apps/kettu/src/commands/Tools/Websearch/npm.ts
  apps/kettu/src/commands/Tools/owoify.ts
Labels: Bot: Kettu

#199 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/commands/moderation.json
  apps/foxxie/src/languages/es-MX/globals.json
  apps/foxxie/src/languages/es-MX/listeners/errors.json
  apps/foxxie/src/languages/es-MX/system.json
Labels: I18n: es-MX, Bot: Foxxie

#200 feat(foxxie): add info command
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/help.ts
  apps/foxxie/src/commands/General/info.ts
  apps/foxxie/src/commands/Info/channel.ts
  apps/foxxie/src/commands/Info/emoji.ts
  apps/foxxie/src/commands/Info/role.ts
  apps/foxxie/src/commands/Info/server.ts
  apps/foxxie/src/commands/Info/user.ts
  apps/foxxie/src/config.ts
  apps/foxxie/src/languages/en-US/commands/general.json
  apps/foxxie/src/languages/en-US/commands/info.json
  apps/foxxie/src/languages/en-US/globals.json
  apps/foxxie/src/lib/database/structures/GuildSettingsManager.ts
  apps/foxxie/src/lib/discord/HelpEmbed.ts
  apps/foxxie/src/lib/discord/index.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/General.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/Info.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/Websearch.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/index.ts
  apps/foxxie/src/lib/types/interactions.ts
  apps/foxxie/src/lib/util/API/spotify.ts
  apps/foxxie/src/lib/util/decorators.ts
  apps/foxxie/src/lib/util/util.ts
  apps/foxxie/src/listeners/Commands/ChatInput/ChatInputCommandDenied.ts
Labels: I18n: en-US, Bot: Foxxie

#204 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/commands/general.json
Labels: I18n: es-MX, Bot: Foxxie

#206 feat(info): add ruffpuff api
  apps/foxxie/src/commands/General/info.ts
Labels: Bot: Foxxie

#207 feat(foxxie): add ruffpuff api types
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/info.ts
  apps/foxxie/src/lib/util/transformers.ts
  yarn.lock
Labels: Bot: Foxxie

#208 feat(foxxie): add ruffpuff api support
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/info.ts
  yarn.lock
Labels: Bot: Foxxie

#210 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/guilds/logs.json
Labels: I18n: es-MX, Bot: Foxxie

#211 ci: edit build cmds
  packages/eslint-config/package.json
  packages/fetch/package.json
  packages/fuzzysearch/package.json
  packages/lock-queue/package.json
  packages/types/package.json
Labels: Packages: fetch, Packages: lock-queue, Packages: eslint-config, Packages: types, Packages: fuzzysearch

#213 feat: add env parser
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
  .github/workflows/bump-version.yml
  apps/foxxie/package.json
  apps/foxxie/src/Foxxie.ts
  apps/foxxie/src/commands/General/about.ts
  apps/foxxie/src/commands/General/donate.ts
  apps/foxxie/src/commands/General/ping.ts
  apps/foxxie/src/config.ts
  apps/foxxie/src/languages/en-US/commands/general.json
  apps/foxxie/src/lib/FoxxieClient.ts
  apps/foxxie/src/lib/env/Augments.d.ts
  apps/foxxie/src/lib/env/index.ts
  apps/foxxie/src/lib/env/types.ts
  apps/foxxie/src/lib/env/utils.ts
  apps/foxxie/src/lib/i18n/LanguageKeys/Commands/General.ts
  apps/foxxie/src/lib/structures/commands/AudioCommand.ts
  apps/foxxie/src/lib/structures/listeners/AnalyticsListener.ts
  apps/foxxie/src/lib/structures/listeners/AudioListener.ts
  apps/foxxie/src/lib/structures/managers/AnalyticsManager.ts
  apps/foxxie/src/lib/types/Augments.d.ts
  apps/foxxie/src/lib/types/interactions.ts
  apps/foxxie/src/listeners/Errors/Commands/chatInputCommandError.ts
  apps/foxxie/src/listeners/Errors/Commands/messageCommandError.ts
  apps/foxxie/src/listeners/Errors/listenerError.ts
  apps/foxxie/src/listeners/ready.ts
  apps/kettu/package.json
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/commands/Tools/Websearch/currency.ts
  apps/kettu/src/commands/Tools/Websearch/stardewvalley.ts
  apps/kettu/src/commands/Tools/Websearch/wolfram.ts
  apps/kettu/src/commands/Tools/Websearch/zodiac.ts
  apps/kettu/src/config.ts
  apps/kettu/src/lib/env/Augments.d.ts
  apps/kettu/src/lib/env/Utils.ts
  apps/kettu/src/lib/env/index.ts
  apps/kettu/src/lib/env/types.ts
  apps/kettu/src/lib/types/Augments.d.ts
  apps/kettu/src/lib/util/util.ts
  packages/README.md
  packages/env/.eslintignore
  packages/env/.eslintrc.json
  packages/env/.prettierignore
  packages/env/cliff.toml
  packages/env/package.json
  packages/env/src/index.ts
  packages/env/src/types.ts
  packages/env/tsconfig.json
  packages/env/tsup.config.ts
  yarn.lock
Labels: Bot: Kettu, I18n: en-US, Bot: Foxxie, Meta: Documentation, Meta: Github

#215 Revert "fix(deps): update dependency typeorm to ^0.3.0"
  apps/foxxie/package.json
  yarn.lock
Labels: Bot: Foxxie

#214 feat(crowdin): update localization files
  apps/foxxie/src/languages/es-MX/commands/general.json
Labels: I18n: es-MX, Bot: Foxxie

#218 feat(ravy.lgbt): cleanup unneeded parts
  docker/ravy.lgbt/images/overlay.png
  docker/ravy.lgbt/images/overlayAgender.png
  docker/ravy.lgbt/images/overlayAsexual.png
  docker/ravy.lgbt/images/overlayBisexual.png
  docker/ravy.lgbt/images/overlayGenderfluid.png
  docker/ravy.lgbt/images/overlayLesbian.png
  docker/ravy.lgbt/images/overlayNonbinary.png
  docker/ravy.lgbt/images/overlayPansexual.png
  docker/ravy.lgbt/images/overlayPride.png
  docker/ravy.lgbt/server/main.go
Labels: Docker Images: ravy.lgbt

#219 docs: update readme badges
  README.md
  graphql/README.md
  packages/README.md
Labels: Meta: Documentation

#220 feat: add website directory
  website/README.md
  website/root/.eslintrc.json
  website/root/.gitignore
  website/root/next-env.d.ts
  website/root/next.config.js
  website/root/package.json
  website/root/postcss.config.js
  website/root/src/components/Linklist.tsx
  website/root/src/components/Nav.tsx
  website/root/src/pages/_app.tsx
  website/root/src/pages/foxxie.tsx
  website/root/src/pages/foxxie/invite.tsx
  website/root/src/pages/index.tsx
  website/root/src/pages/kettu.tsx
  website/root/src/styles/globals.css
  website/root/tailwind.config.js
  website/root/tsconfig.json
  website/root/yarn.lock
Labels: Site: root

#221 feat(website): add bot grid
  website/root/next.config.js
  website/root/src/components/Botlist.tsx
  website/root/src/components/Content.tsx
  website/root/src/components/Headers/Main.tsx
  website/root/src/components/Linklist.tsx
  website/root/src/components/Nav.tsx
  website/root/src/pages/_app.tsx
  website/root/src/pages/foxxie/commands.tsx
  website/root/src/pages/index.tsx
  website/root/src/pages/kettu/commands.tsx
  website/root/src/pages/kettu/invite.tsx
Labels: Site: root

#222 feat(website): edit colors
  website/root/package.json
  website/root/src/components/Botlist.tsx
  website/root/src/components/Headers/Main.tsx
  website/root/src/components/Nav.tsx
  website/root/src/pages/_app.tsx
  website/root/src/pages/index.tsx
  website/root/tailwind.config.js
  website/root/yarn.lock
Labels: Site: root

#224 feat(website): add features
  website/root/.eslintrc.json
  website/root/package.json
  website/root/src/components/Botlist.tsx
  website/root/src/components/Features/FeatureList.tsx
  website/root/src/components/Features/Foxxie/Ban.tsx
  website/root/src/components/Features/Foxxie/InfoUser.tsx
  website/root/src/components/Features/Foxxie/Log.tsx
  website/root/src/components/Features/Kettu/Pokemon.tsx
  website/root/src/components/Features/Kettu/Wolfram.tsx
  website/root/src/components/Footer.tsx
  website/root/src/components/Guides/GuideBox.tsx
  website/root/src/components/Guides/GuideExample.tsx
  website/root/src/components/Guides/GuideSection.tsx
  website/root/src/components/Headers/Main.tsx
  website/root/src/components/Nav.tsx
  website/root/src/components/Pages/Guidepage.tsx
  website/root/src/components/Pages/Homepage.tsx
  website/root/src/pages/_app.tsx
  website/root/src/pages/foxxie.tsx
  website/root/src/pages/foxxie/guides/moderation.tsx
  website/root/src/pages/index.tsx
  website/root/src/pages/kettu.tsx
  website/root/tailwind.config.js
  website/root/yarn.lock
Labels: Site: root

#232 feat(website): update routes
  website/root/src/components/Features/FeatureList.tsx
  website/root/src/components/Features/Foxxie/Ban.tsx
  website/root/src/components/Features/Foxxie/InfoUser.tsx
  website/root/src/components/Features/Foxxie/Log.tsx
  website/root/src/components/Features/Kettu/Pokemon.tsx
  website/root/src/components/Features/Kettu/Wolfram.tsx
  website/root/src/components/Guides/GuideBox.tsx
  website/root/src/components/Guides/GuideExample.tsx
  website/root/src/components/Guides/GuideSection.tsx
  website/root/src/components/Linklist.tsx
  website/root/src/components/Pages/Guidepage.tsx
  website/root/src/components/Pages/Homepage.tsx
  website/root/src/components/headers/Main.tsx
  website/root/src/components/navigation/Footer.tsx
  website/root/src/components/navigation/Nav.tsx
  website/root/src/components/pages/Homepage.tsx
  website/root/src/components/pages/Invitepage.tsx
  website/root/src/components/presentational/Botlist.tsx
  website/root/src/components/presentational/Content.tsx
  website/root/src/pages/_app.tsx
  website/root/src/pages/foxxie/guides/moderation.tsx
  website/root/src/pages/foxxie/invite.tsx
  website/root/src/pages/index.tsx
  website/root/src/pages/kettu/invite.tsx
  website/root/src/pages/kettu/vote.tsx
  website/root/src/utils/constants.ts
  website/root/tailwind.config.js
Labels: Site: root

#235 feat(website): update homepage
  website/root/src/components/headers/Footer.tsx
  website/root/src/components/headers/Main.tsx
  website/root/src/components/navigation/Footer.tsx
  website/root/src/components/navigation/Nav.tsx
  website/root/src/components/pages/Homepage.tsx
  website/root/src/components/presentational/Botlist.tsx
Labels: Site: root

#266 feat(foxxie): edit slashcommand builders
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/donate.ts
  apps/foxxie/src/commands/General/info.ts
  apps/foxxie/src/commands/Moderation/Utilities/case.ts
  apps/foxxie/src/commands/Moderation/ban.ts
  apps/foxxie/src/commands/Moderation/kick.ts
  apps/foxxie/src/lib/discord/FoxxieSlashCommandBuilder.ts
  apps/foxxie/src/lib/discord/FoxxieSlashCommandSubcommandBuilder.ts
  apps/foxxie/src/lib/discord/index.ts
  apps/foxxie/src/lib/util/decorators.ts
Labels: Bot: Foxxie

#269 docs(readme): add Codecov badge
  README.md
Labels: Meta: Documentation

#271 feat(crowdin): update localization files
  apps/kettu/src/languages/es-MX/commands/admin.json
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: Bot: Kettu, I18n: es-MX

#273 feat(lock-queue): remove shift
  packages/lock-queue/src/index.ts
Labels: Packages: lock-queue

#276 feat(eslint-config): disable @typescript-eslint/no-extraneous-class
  packages/eslint-config/index.ts
Labels: Packages: eslint-config

#277 feat(env): turn fields of the class to static properties
  apps/foxxie/src/Foxxie.ts
  apps/foxxie/src/config.ts
  apps/foxxie/src/lib/FoxxieClient.ts
  apps/foxxie/src/lib/structures/commands/AudioCommand.ts
  apps/foxxie/src/lib/structures/listeners/AnalyticsListener.ts
  apps/foxxie/src/lib/structures/listeners/AudioListener.ts
  apps/foxxie/src/lib/structures/managers/AnalyticsManager.ts
  apps/foxxie/src/listeners/Errors/Commands/chatInputCommandError.ts
  apps/foxxie/src/listeners/Errors/Commands/messageCommandError.ts
  apps/foxxie/src/listeners/Errors/listenerError.ts
  apps/foxxie/src/listeners/ready.ts
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/commands/Tools/Websearch/currency.ts
  apps/kettu/src/commands/Tools/Websearch/stardewvalley.ts
  apps/kettu/src/commands/Tools/Websearch/wolfram.ts
  apps/kettu/src/commands/Tools/Websearch/zodiac.ts
  apps/kettu/src/config.ts
  apps/kettu/src/lib/util/util.ts
  packages/env/src/index.ts
  packages/env/tests/env.test.ts
Labels: Bot: Kettu, Bot: Foxxie, Packages: env

#281 chore: upgrade deps
  apps/foxxie/package.json
  apps/kettu/package.json
  graphql/stardrop/package.json
  package.json
  packages/builders/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/fetch/package.json
  packages/fuzzysearch/package.json
  packages/lock-queue/package.json
  packages/types/package.json
  turbo.json
  yarn.lock
Labels: Packages: fetch, Packages: lock-queue, Packages: eslint-config, Bot: Kettu, Packages: types, Bot: Foxxie, GraphQL: stardrop, Packages: fuzzysearch, Packages: env

#283 feat: replace turborepo with nx
  apps/foxxie/src/lib/structures/commands/parsers/FoxxieArgs.ts
  apps/kettu/package.json
  graphql/stardrop/package.json
  nx.json
  package.json
  packages/builders/package.json
  packages/env/src/index.ts
  packages/fetch/package.json
  packages/fetch/src/Request.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types.ts
  turbo.json
  yarn.lock
Labels: Packages: fetch, Bot: Kettu, Bot: Foxxie, GraphQL: stardrop, Packages: env

#285 ci: remove build step from codecov workflow
  .github/workflows/codecov.yml
  packages/env/tests/env.test.ts
  packages/fetch/tests/fetch.test.ts
  packages/fuzzysearch/tests/fuzzysearch.test.ts
Labels: Packages: fetch, Meta: Github, Packages: fuzzysearch, Packages: env

#287 tests(fetch): add more coverage
  packages/fetch/tests/fetch.test.ts
Labels: Packages: fetch

#289 ci: update labeler paths
  .github/labeler.yml
Labels: Meta: Github

#290 feat(website): rename root to foxxie.xyz
  package.json
  website/foxxie.xyz/.eslintrc.json
  website/foxxie.xyz/.gitignore
  website/foxxie.xyz/next-env.d.ts
  website/foxxie.xyz/next.config.js
  website/foxxie.xyz/package.json
  website/foxxie.xyz/postcss.config.js
  website/foxxie.xyz/src/components/headers/Base.tsx
  website/foxxie.xyz/src/components/headers/Conduct.tsx
  website/foxxie.xyz/src/components/headers/Footer.tsx
  website/foxxie.xyz/src/components/headers/Kettu.tsx
  website/foxxie.xyz/src/components/headers/Main.tsx
  website/foxxie.xyz/src/components/headers/Terms.tsx
  website/foxxie.xyz/src/components/navigation/Nav.tsx
  website/foxxie.xyz/src/components/pages/Conductpage.tsx
  website/foxxie.xyz/src/components/pages/Homepage.tsx
  website/foxxie.xyz/src/components/pages/Invitepage.tsx
  website/foxxie.xyz/src/components/pages/Termspage.tsx
  website/foxxie.xyz/src/components/pages/TopggVotepage.tsx
  website/foxxie.xyz/src/components/pages/Votepage.tsx
  website/foxxie.xyz/src/components/pages/kettu/Kettupage.tsx
  website/foxxie.xyz/src/components/presentational/Botlist.tsx
  website/foxxie.xyz/src/components/presentational/Content.tsx
  website/foxxie.xyz/src/pages/_app.tsx
  website/foxxie.xyz/src/pages/conduct.tsx
  website/foxxie.xyz/src/pages/index.tsx
  website/foxxie.xyz/src/pages/kettu/index.tsx
  website/foxxie.xyz/src/pages/kettu/invite.tsx
  website/foxxie.xyz/src/pages/kettu/vote.tsx
  website/foxxie.xyz/src/pages/terms.tsx
  website/foxxie.xyz/src/styles/globals.css
  website/foxxie.xyz/src/utils/constants.ts
  website/foxxie.xyz/src/utils/types.ts
  website/foxxie.xyz/src/utils/util.ts
  website/foxxie.xyz/tailwind.config.js
  website/foxxie.xyz/tsconfig.json
  website/foxxie.xyz/yarn.lock
Labels: Site: foxxie.xyz

#307 fix(ci): don’t bump packages on renovate prs
  .github/workflows/bump-package.yml
Labels: Meta: Github

#308 chore(types): remove statuspage
  packages/types/src/APIs/StatusPage.ts
  packages/types/src/APIs/index.ts
Labels: Packages: types

#310 chore(deps): upgrade outdated
  apps/foxxie/package.json
  apps/kettu/package.json
  packages/builders/package.json
  yarn.lock
Labels: Bot: Kettu, Bot: Foxxie, Packages: builders

#314 ci: update configs
  .github/workflows/bump-package.yml
  .github/workflows/publish-package.yml
Labels: Meta: Github

#315 chore: add tz to env
  packages/env/src/types.ts
Labels: Packages: env

#318 fix(kettu): type errors
  apps/kettu/src/lib/i18n/Keys/Permissions.ts
  apps/kettu/src/lib/types/Augments.d.ts
  apps/kettu/src/lib/types/utils.ts
Labels: Bot: Kettu

#323 tests(fetch): add test coverage
  packages/fetch/tests/fetch.test.ts
  yarn.lock
Labels: Packages: fetch

#325 feat: add sanitize
  .github/labeler.yml
  .github/workflows/bump-package.yml
  packages/sanitize/.eslintignore
  packages/sanitize/.eslintrc.json
  packages/sanitize/.prettierignore
  packages/sanitize/cliff.toml
  packages/sanitize/jest.config.ts
  packages/sanitize/package.json
  packages/sanitize/src/index.ts
  packages/sanitize/tests/sanitize.test.ts
  packages/sanitize/tsconfig.json
  packages/sanitize/tsup.config.ts
  yarn.lock
Labels: Meta: Github

#326 feat(foxxie): use sanitize
  apps/foxxie/package.json
  apps/foxxie/src/lib/structures/workers/worker.ts
  apps/foxxie/src/scheduled-tasks/Cron/checkStatusPage.ts
  yarn.lock
Labels: Bot: Foxxie

#327 feat(fetch): remove unneeded safeguard
  packages/fetch/src/Request.ts
Labels: Packages: fetch

#329 chore(deps): upgrade deps
  apps/foxxie/package.json
  apps/kettu/package.json
  graphql/stardrop/package.json
  package.json
  packages/statuspage/package.json
  yarn.lock
Labels: Bot: Kettu, Bot: Foxxie, GraphQL: stardrop, Packages: statuspage

#330 feat(website): add support page
  website/foxxie.xyz/next.config.js
  website/foxxie.xyz/src/components/navigation/Nav.tsx
  website/foxxie.xyz/src/pages/support.tsx
Labels: Site: foxxie.xyz

#331 meta: update codeowners
  .github/CODEOWNERS
Labels: Meta: Github

#333 feat: add commands
  .github/labeler.yml
  .github/workflows/bump-package.yml
  .github/workflows/codecov.yml
  packages/commands/.eslintignore
  packages/commands/.eslintrc.json
  packages/commands/.prettierignore
  packages/commands/cliff.toml
  packages/commands/jest.config.ts
  packages/commands/package.json
  packages/commands/src/decorators/RegisterChatInputCommand.ts
  packages/commands/src/decorators/index.ts
  packages/commands/src/index.ts
  packages/commands/src/types.ts
  packages/commands/src/utils/index.ts
  packages/commands/src/utils/locale.ts
  packages/commands/src/utils/parseArgs.ts
  packages/commands/tests/locale.test.ts
  packages/commands/tests/parseArgs.test.ts
  packages/commands/tsconfig.json
  packages/commands/tsup.config.ts
  yarn.lock
Labels: Meta: Github

#332 feat(kettu): rewrite subcommand handling
  apps/kettu/package.json
  apps/kettu/src/commands/Admin/eval.ts
  apps/kettu/src/commands/General/donate.ts
  apps/kettu/src/commands/General/invite.ts
  apps/kettu/src/commands/General/stats.ts
  apps/kettu/src/commands/General/support.ts
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/commands/Tools/Websearch/currency.ts
  apps/kettu/src/commands/Tools/Websearch/github.ts
  apps/kettu/src/commands/Tools/Websearch/npm.ts
  apps/kettu/src/commands/Tools/Websearch/pokemon.ts
  apps/kettu/src/commands/Tools/Websearch/stardewvalley.ts
  apps/kettu/src/commands/Tools/Websearch/wolfram.ts
  apps/kettu/src/commands/Tools/Websearch/zodiac.ts
  apps/kettu/src/commands/Tools/color.ts
  apps/kettu/src/commands/Tools/owoify.ts
  apps/kettu/src/commands/Tools/pride.ts
  apps/kettu/src/commands/Tools/setcolor.ts
  apps/kettu/src/lib/types/Interactions.ts
  apps/kettu/src/lib/util/decorators.ts
  yarn.lock
Labels: Bot: Kettu

#335 feat(foxxie): use commands
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/donate.ts
  apps/foxxie/src/commands/General/info.ts
  apps/foxxie/src/commands/Moderation/Utilities/case.ts
  apps/foxxie/src/commands/Moderation/ban.ts
  apps/foxxie/src/commands/Moderation/kick.ts
  apps/foxxie/src/lib/types/interactions.ts
  apps/foxxie/src/lib/util/decorators.ts
  yarn.lock
Labels: Bot: Foxxie

#336 chore(docs): remove packages readme
  packages/README.md
  yarn.lock
Labels: Meta: Documentation

#337 chore: rename repo in links
  .all-contributorsrc
  .github/workflows/bump-package.yml
  .github/workflows/publish-package.yml
  README.md
  apps/foxxie/.env
  apps/foxxie/CHANGELOG.md
  apps/foxxie/cliff.toml
  apps/foxxie/package.json
  apps/foxxie/src/commands/General/stats.ts
  apps/foxxie/src/lib/structures/commands/LGBTCommand.ts
  apps/foxxie/src/lib/util/constants.ts
  apps/kettu/Dockerfile
  apps/kettu/cliff.toml
  apps/kettu/package.json
  apps/kettu/src/lib/util/APIs/github.ts
  graphql/stardrop/cliff.toml
  package.json
  packages/builders/cliff.toml
  packages/builders/package.json
  packages/commands/cliff.toml
  packages/commands/package.json
  packages/env/cliff.toml
  packages/env/package.json
  packages/eslint-config/cliff.toml
  packages/eslint-config/package.json
  packages/fetch/cliff.toml
  packages/fetch/package.json
  packages/fuzzysearch/cliff.toml
  packages/fuzzysearch/package.json
  packages/lock-queue/CHANGELOG.md
  packages/lock-queue/cliff.toml
  packages/lock-queue/package.json
  packages/sanitize/cliff.toml
  packages/sanitize/package.json
  packages/stardrop/cliff.toml
  packages/stardrop/package.json
  packages/statuspage/cliff.toml
  packages/statuspage/package.json
  packages/types/cliff.toml
  packages/types/package.json
  website/foxxie.xyz/src/components/headers/Footer.tsx
Labels: Packages: fetch, Packages: lock-queue, Packages: eslint-config, Bot: Kettu, Packages: types, Bot: Foxxie, Meta: Documentation, Meta: Github, GraphQL: stardrop, Packages: fuzzysearch, Packages: stardrop, Packages: env, Site: foxxie.xyz, Packages: statuspage, Packages: builders, Packages: commands, Packages: sanitize

#338 docs(license): update name
  LICENSE
Labels: Meta: Documentation

#339 feat: update docker heads
  .github/workflows/foxxie-deployment.yml
  .github/workflows/kettu-deployment.yml
  .github/workflows/ravy-lgbt-deployment.yml
  .github/workflows/stardrop-deployment.yml
Labels: Meta: Github

#340 feat(kettu): add shorten
  apps/foxxie/package.json
  apps/kettu/src/commands/Tools/Websearch/animalcrossing.ts
  apps/kettu/src/commands/Tools/Websearch/stardewvalley.ts
  apps/kettu/src/commands/Tools/shorten.ts
  apps/kettu/src/languages/en-US/commands/tools.json
  apps/kettu/src/lib/i18n/Keys/Commands/Tools.ts
  apps/kettu/src/lib/types/Interactions.ts
  yarn.lock
Labels: Bot: Kettu, I18n: en-US, Bot: Foxxie

#341 ci: add rename crowdin prs
  .github/workflows/rename-crowding-pr.yml
Labels: Meta: Github

#343 feat(crowdin): update localization files
  apps/kettu/package.json
  apps/kettu/src/languages/es-MX/commands/tools.json
  apps/kettu/src/languages/es-MX/commands/websearch.json
Labels: Bot: Kettu, I18n: es-MX
